*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.menu{
	background-color: orange;
	color:white;
	height: 3em;
}

.fondo{
	width: 100%;
	height: 400px;
	background-image: url(img/flores.jpg);
}

.text{
	font-size: 20px;
	color:grey;
}
.btn{
	width: 10%;
	height: 2em;
	background-color: red;
	color: white;
	border-radius: 5px;
}

.imagenesFlores{
	width: 100%;
	height: auto;
	padding: 2em;
}

footer{
	background-color: grey;	
	height: 3em;
	
}

.foter{
	color: white;
	padding-left: 50%;
	padding-top: 1em;
}
