*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Glegoo', serif;
}

.menu{
	background-color:#FF0000BF ;
	color:white;
	height: 3em;
	font-size: 10px;
}

#ico{
    display: none;
    vertical-align: top;
}

.fondo{
	width: 100%;
	height: 400px;
	background-image: url(img/flores.jpg);
}

.text{
	font-size: 10px;
	color:grey;
}
.btn{
	width: 10%;
	height: 2em;
	background-color: red;
	color: white;
	border-radius: 3em;
}

.imagenesFlores{
	width: 100%;
	height: auto;
	padding: 2em;
}

.parrafos{
	padding: 1em;
}

footer{
	background-color:#404040FF ;
	height: 3em;
	
}

.foter{
	color: white;
	padding-left: 40%;
	padding-top: 1em;
}
